<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.modules.oracleModule.dao.MemberMapper">

    <select id="selectMemberList" resultType="com.example.demo.modules.oracleModule.base.model.Member">
        SELECT * from  member
    </select>

    <select id="updateMemberByReq" parameterType="com.example.demo.modules.oracleModule.base.request.MemberUpdateReq">
       update member
       set
       name =#{name},
       age=#{age}
       where  id =#{id}
    </select>

</mapper>