server:
  port: 7001
  servlet:
    context-path: /api/
spring:
  datasource:
    username: root
    password: Hsj123456
    url: jdbc:mysql://47.115.38.181:3306/hsj_security?useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true
    driverClassName: com.mysql.jdbc.Driver

#  datasource:
#    driverClassName: org.h2.Driver
#    username: root
#    password: 123456
#    platform: h2
#    url: jdbc:h2:mem:dto-demo
#  h2:
#    console:
#      enabled: true
#      settings:
#        web-allow-others: true
#  jpa:
#    hibernate:
#      ddl-auto: update
#    open-in-view: false
#    properties:
#      hibernate:
#        enable_lazy_load_no_trans: true
#    show-sql: true

  cache:
    # 使用了Spring Cache后，能指定spring.cache.type就手动指定一下，虽然它会自动去适配已有Cache的依赖，但先后顺序会对Redis使用有影响（JCache -> EhCache -> Redis -> Guava）
    type: REDIS
  redis:
    host: 47.115.38.181
    port: 6379
    #默认没有密码，生产环境一定要设置密码
    password: Hsj123456
    # 连接超时时间（ms）
    timeout: 10000
    # Redis默认情况下有16个分片，这里配置具体使用的分片，默认是0
    database: 0
    jedis:
      pool:
        # 连接池最大连接数（使用负值表示没有限制） 默认 8
        max-active: 8
        # 连接池最大阻塞等待时间（使用负值表示没有限制） 默认 -1
        max-wait: -1
        # 连接池中的最大空闲连接 默认 8
        max-idle: 8
        # 连接池中的最小空闲连接 默认 0
        min-idle: 0
mybatis:
  mapper-locations: classpath:mapper/*/*.xml, classpath:mapper/*.xml